<!DOCTYPE html>
html
    head
        title=title
    body
        p='ws'
        div
            input(type="file" id="file")
        button(id="uploadBtn")="上传"
        button(id="uploadPause")="暂停"
        button(id="uploadResume")="恢复"
    script(src='/static/ws.js')
    script(src="/static/upload.js")
